body {
  font-size: 30px;
  font-family: 'helvetica';
  text-align: center
}

#calculator, #scientific-calculator{
  margin: 50px;
}

/*CALCULATOR STYLES*/

#calculator {

  .calculator {
    width: 250px;
  }

  .output-view {
    width: 100%;
    font-size: 80px;
    text-align: right;
    background-color: #000;
    color: #fff;
  }

  .result {
    vertical-align: middle;
  }

  .input {
    display: inline-block;
    width: 25%;
    border: 1px solid darkgrey;
    padding: 10px;
    box-sizing: border-box;
  }

  .number, .decimal {
    background-color: lightgrey;
  }

  .operation {
    background-color: orange;
    color: #fff;
  }

  .zero {
    width: 50%;
  }

}

/*SCIENTIFIC CALCULATOR STYLES*/

#scientific-calculator {
  .calculator {
    width: 350px;
  }

  .query-answer-view {
    width: 100%;
    font-size: 16px;
    text-align: right;
    background-color: lightgrey;
    color: #000;
  }

  .output-view {
    width: 100%;
    font-size: 60px;
    text-align: right;
    background-color: #000;
    color: #fff;
  }

  .result {
    vertical-align: middle;
  }

  .input {
    display: inline-block;
    width: 25%;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
  }

  .number, .decimal {
    background-color: lightgrey;
  }

  .operation {
    background-color: darkgrey;
    color: #fff;
  }

  .equals {
    background-color: #3079ed;
  }

}



