/*
#container {
	width: 90%;
	margin: 0 auto;
}
*/

.slider {
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	poition: relative;
}

.image-frame {
	width: 100%;
	height: 70%;
	position: relative;
}
.image {
	width: 100%;
	height:100%;
}

.slider img {
	width: auto;
	height:100%;
	position: absolute;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent; 
	border-right: 40px solid hotpink;
	display: block;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid hotpink;
	display: block;
}
