/*
#container {
	width: 90%;
	margin: 0 auto;
}
*/

.slider {
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	poition: relative;
}

.image-frame {
	width: 100%;
	height: 70%;
	position: relative;
}
.image {
	width: 100%;
	height:100%;
}

.slider img {
	width: auto;
	height:100%;
	position: absolute;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent; 
	border-right: 40px solid hotpink;
	display: block;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid hotpink;
	display: block;
}

.selector {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: grey;
	display: inline-block;
	cursor: pointer;
	margin: 10px;
}

.selection-dots .selected {
	background-color: hotpink;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 2s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}
